@tailwind base;
@tailwind components;
@tailwind utilities;



/* green */
/* .{
color: #304D30; green;
color: #BACBDA; light;
color: #FBF8F0;  light white;
color: #566A6C; light gree;
color: #705B49;  brown
} */